<%= content_tag :li, :class => ('active' if current == 'Notes') do %>
  <%= link_to Spree.t(:notes), spree.admin_product_product_notes_path(product_id: @product.id) %>
<% end if can?(:admin, Spree::Product) %>
