<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => "Notes"} %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @note } %>

<% admin_breadcrumb(Spree.t(:product_notes)) %>

<div class="product-note-form-wrapper" data-hook="product-note-creation">

  <%= form_for @note, url: admin_product_product_notes_path(product_id: @product.id) do |f| %>
    <fieldset class="no-border-top">
      <%= f.hidden_field :user_id, value: (try_spree_current_user.try(:id) || @product.user_id) %>
      <div class="row">
        <div class="field">
          <div data-hook="comment-body" class="field">
            <%= f.label :note, "Note:" %><br/>
            <%= f.text_area :body, cols: 170, rows: 7, class: "full-width" %>
          </div>
          <%= f.hidden_field :noteable_type, value: Spree::Product %>
          <%= f.hidden_field :noteable_id, value: @product.id %>
        </div>
      </div>

      <div class="actions filter-actions" data-hook="buttons">
        <%= button Spree.t('actions.submit') %>
      </div>
    </fieldset>
  <% end %>
</div>

<div class="product-notes" data-hook="product-notes">
  <% @notes.each do |note| %>
    <div class="product-note-detail" data-hook="product-note-detail">
      <p class="body"><%= note.body %></p>
      <div class="user pull-right">
        <%= note.user.email %> -
        <em class="date"><%= l note.created_at, format: :short %></em>
      </div>
      <div class="clearfix"></div>
    </div>
    <hr />
  <% end %>
</div>
